<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Exibe o histórico do chat -->
  <ion-list>
    <ion-item *ngFor="let chat of chatHistory">
      <div class="chat-container">
        <div class="chat-bubble question">
          <ion-label>{{ chat.question }}</ion-label>
        </div>
        <div class="chat-bubble answer">
          <ion-label>{{ chat.answer }}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <!-- Exibe a pergunta atual -->
  <div
    *ngIf="!completed && chatHistory.length === currentQuestionIndex"
    class="chat-bubble question"
  >
    <ion-label>{{ questions[currentQuestionIndex] }}</ion-label>
  </div>

  <!-- Formulário de chat -->
  <div *ngIf="!completed" class="chat-input">
    <ion-input
      [(ngModel)]="currentAnswer"
      placeholder="Sua resposta"
    ></ion-input>
    <ion-button (click)="nextQuestion()" expand="block">Enviar</ion-button>
  </div>

  <!-- Mensagem de conclusão -->
  <div *ngIf="completed" class="chat-bubble completed">
    <ion-label
      >Cadastro concluído! Obrigado, {{ chatHistory[0].answer }}.</ion-label
    >
  </div>
</ion-content>
